node_modules
.next
.DS_Store
.env
.env.local
.env.development
.env.production
*.log
*.swp
*.swo
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next/cache
.next/standalone
.next/static/chunks/pages/_app-*.js
.next/static/chunks/pages/_error-*.js
.next/static/chunks/webpack-*.js
coverage
dist
.vscode
.vercel
.cache
.pnpm-store
.next/types/**
